<div class="image">
  <img
    src="https://cdn.pixabay.com/photo/2017/05/31/21/13/colored-pencils-2361653__340.jpg"
    class="d-block w-100"
    alt="..."
  />
  <div class="text">
    <h1>Acerca de</h1>
  </div>
</div>
<div class="container misionvision">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <div class="card-header titulo" style="text-align: center">Misión</div>
        <div class="card-body parrafo1">
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-header titulo1" style="text-align: center">Visión</div>
        <div class="card-body parrafo">
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="terceraparte justify-content-center">
    <h3 class="centerText">Formas de Pago</h3>
    <br />
    <div class="row centerIcons justify-content-center">
      <div class="col-sm-2">
        <div class="iconos">
          <a href="https://twitter.com/" target=" a_blank">
            <i class="fas fa-handshake"></i>
          </a>
          <p>Pagar al recibir</p>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="iconos">
          <a href="https://gmail.com/" target=" a_blank">
            <i class="fab fa-cc-paypal"></i
          ></a>
          <p>Tarjeta de debito o credito</p>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="iconos">
          <a href="https://facebook.com/" target=" a_blank"
            ><i class="far fa-money-bill-alt"></i
          ></a>
          <p>Transferencia o proposito</p>
        </div>
      </div>
    </div>
  </div>
  <div class="terceraparte justify-content-center">
    <h3 class="centerText">Preguntas frecuentes</h3>
    <div class="preguntas centerIcons justify-content-center">
      <p class="centerText">
        <i class="fas fa-shopping-cart"></i>Como comprar?
      </p>
      <p class="centerText">
        <i class="fas fa-truck-moving"></i>Metodos de Envio
      </p>
      <p class="centerText">
        <i class="fas fa-map-marked-alt"></i>Como llegar?
      </p>
    </div>
  </div>
</div>
