.misionvision{
    width:60%;
}
.titulo{
    background-color:#D8D8D8;
    font-size: 30px;
    color:#461C6D;
     text-aling:center;

}
.parrafo1{
    text-aling:center;
    color:white;
     background-color:#7935B9;
}
.titulo1{
     background-color:#7935B9;
    font-size: 30px;
    color:white;
     text-aling:center;

}
.parrafo{
    text-aling:center;
       color:#461C6D;
     background-color:#D8D8D8;
}
.terceraparte{
    margin:10px;
}
.terceraparte i{
font-size:40px;
  color:#104C91;
}
.preguntas i{
    font-size:23px;
}
.preguntas p {
    font-size:20px;
}
.image { 
    position: relative; 
    margin-bottom:30px;
} 

h1 { 
    position: absolute; 
    top: 70px; 
    margin: 40px; 
    color:white;
    font: italic bold 80px Georgia, Serif;
    text-shadow: -4px 3px 0 #75B935, -14px 7px 0 #0a0e27;
}