.misionvision{
    width:60%;
}
.titulo{
    background-color:#D8D8D8;
    font-size: 30px;
    color:#461C6D;
     text-aling:center;

}
.parrafo1{
    text-aling:center;
    color:white;
     background-color:#7935B9;
}
.titulo1{
     background-color:#7935B9;
    font-size: 30px;
    color:white;
     text-aling:center;

}
.parrafo{
    text-aling:center;
       color:#461C6D;
     background-color:#D8D8D8;
}
.terceraparte{
    margin:10px;
}
.terceraparte i{
font-size:40px;
  color:#104C91;
}
.preguntas i{
    font-size:23px;
}
.preguntas p {
    font-size:20px;
}
.image { 
    position: relative; 
    margin-bottom:30px;
} 

h1 { 
    position: absolute; 
    top: 70px; 
    margin: 40px; 
    color:white;
    font: italic bold 80px Georgia, Serif;
    text-shadow: -4px 3px 0 #75B935, -14px 7px 0 #0a0e27;
}
.carousel {
    position: relative;
    width: 100%;
    div {
        overflow: hidden;
        width: 100%;
        ul {
            overflow: hidden;
            position: relative;
            width: 200%;
            li {
                overflow: hidden;
                position: relative;
                float: left;
                width: 350px;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            li + li {
                margin-left: 30px;
            }
        }
    }
    ol {
        li {
            position: absolute;
            top: 50%;
            margin-top: -25px;
            &.prev {
                left: 0;
                button {
                    &:after {
                        content: '\276e';
                    }
                }
            }
            &.next {
                right: 0;
                button {
                    &:after {
                        content: '\276f';
                    }
                }
            }
            button {
                overflow: hidden;
                position: relative;
                width: 50px;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.8);
                span {
                    position: absolute;
                    top: -100000px;
                }
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-size: 30px;
                    color: #000;
                }
            }
        }
    }
}


