<div class="wrap cf">
    <h1 class="projTitle">Carrito<span> de </span>Compras</h1>
    <div class="heading cf">
      <h1>LibreriaJL</h1>
      <a routerLink="/"  class="continue">Seguir Comprando</a>
    </div>
    <div class="cart">
      <ul class="cartWrap">
        <li class="items odd">
          
      <div class="infoWrap"> 
          <div class="cartSection">
          <img src="https://cdn.shopify.com/s/files/1/1086/1234/products/LAPICES-DE-COLORES-FABER-CASTELL-ACUARELABLES-X12_grande.png?v=1579739760" alt="" class="itemImg" />
            <h3>Colores Faber Castell</h3>         
             <p> <input type="text"  class="qty" placeholder="1"/> x 15.00 Bs</p>
          </div>           
          <div class="prodTotal cartSection">
            <p>15.00 Bs</p>
          </div>
                <div class="cartSection removeWrap">
             <a href="#" class="remove">x</a>
          </div>
        </div>
        </li>
        <li class="items even">
          
         <div class="infoWrap"> 
          <div class="cartSection">
           
          <img src="https://cdn.shopify.com/s/files/1/0247/8886/1003/products/IMG_20190706_131810_copia_1400x.png?v=1574810609" alt="" class="itemImg" />
            <h3>Borrador Faber Castell</h3>
             <p> <input type="text"  class="qty" placeholder="3"/> x 5.00 Bs</p>
          </div>  
          <div class="prodTotal cartSection">
            <p> 15.00 Bs</p>
          </div>
                <div class="cartSection removeWrap">
             <a href="#" class="remove">x</a>
          </div>
        </div>
        </li>   
      </ul>
    </div>
<div class="subtotal cf">
    <div class="card">
        <div class="card-header" style="text-align: center;">
           <h4>Cuenta</h4> 
          </div>
       
            <h6 class="totalRow"><span class="label">Subtotal</span><span class="value">15.00 Bs</span></h6>   
            <h6 class="totalRow"><span class="label">Subtotal</span><span class="value">15.00 Bs</span></h6>  
            <h6 class="totalRow final"><span class="label">Total</span><span class="value">30.00 Bs</span></h6>
            <h6 class="totalRow"><a href="#" class="btn continue">Checkout</a></h6>
          
    </div>  
    </div>
  </div>
