<div class="container" id="container">
	<div class="form-container sign-in-container">
    <div class="overlay">
			<div class="overlay-panel overlay-right">
				<img src="https://cdn.pixabay.com/photo/2018/08/10/12/03/school-tools-3596686_960_720.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="overlay-container">
	<form [formGroup] = "form" (submit)="save($event)">
      <h3><i class="fas fa-user"></i>Registrarse</h3><br>
	  <input  type="text" formControlName="name"  class="form-control" placeholder="Nombre"  [class.is-valid]="nameFieldIsValid" [class.is-invalid]="nameFieldIsInvalid">        
	  <div class="invalid-feedback" *ngIf="nameField.hasError('required')">
		  No debe estar el campo vacio
	  </div>
	  <div class="invalid-feedback" *ngIf="nameField.value.length">
		El numero de caracteres debe ser un minimo de 3 y maximo de 15
	</div>
	  <input  type="text" formControlName="email"  class="form-control" placeholder="Email"  [class.is-valid]="emailFieldIsValid" [class.is-invalid]="emailFieldIsInvalid">        
		<div class="invalid-feedback" *ngIf="emailField.hasError('required')">
			No debe estar el campo vacio
		</div>
		<div class="invalid-feedback" *ngIf="emailField.hasError('email')">
			El email esta incorrecto
		</div>
		<div class="invalid-feedback" *ngIf="emailField.hasError('notAvailable')">
			Ya existe este correo
		</div>
	  <input  type="password" formControlName="password"  class="form-control" placeholder="Password"  [class.is-valid]="passwordFieldIsValid" [class.is-invalid]="passwordFieldIsInvalid">  
		<div class="invalid-feedback"  *ngIf="passwordField.hasError('required')">
		El password esta vacio
		</div>
		<div class="invalid-feedback"  *ngIf="passwordField.hasError('notPasswordCorrect')">
		El password no es correcto
		</div>
		<div class="valid-feedback"  *ngIf="passwordField.hasError('notPasswordCorrect')">
		El password es correcto
		</div>
	   <input type="password" placeholder="Confirmar Password">   
	   <div class="invalid-feedback"  *ngIf="confirmarpasswordField.hasError('required')">
			El password esta vacio
		</div>
		<button>Crear Cuenta</button>
		<p>¿Tienes una cuenta?<a routerLink="/login" >Iniciar Sesión</a></p>
	</form>
	</div>
</div>