.imagenestipo{
    margin:30px;
    width:450px;
    margin-left:40px;
}
.imagen1
{   
    top: 40%;
    left: 20%;
    position:absolute;
}
.imagen1 h1{
    color:black;
    background-color:#F2F2F2;
    border-radius: 7px;
    padding:10px;
}
.imagen1 button{
    background-color:#75B935;
    color:white;
    border:#75B935;
    margin-left:20px;
    margin-left: 30%;
}
.imagen
{   
    top: 40%;
    left: 24%;
    position:absolute;
}
.imagen h1{
    color:black;
    background-color:#F2F2F2;
    border-radius: 7px;
    padding:10px;
}
.imagen button{
    background-color:#75B935;
    color:white;
    border:#75B935;
    margin-left:20px;
    margin-left: 30%;
}
.card{
    border:none;
}
.btnproducto{
    background-color:#75B935;
    border-color:#75B935;
    text-align:center;
    width:100px;
    color:white;

}
.nombre{
    color:black;
    text-align:center;
}
.precio{
    color:black;
    text-align:center;
    font-size:14px;
}
.footpro{
     text-align:center;
     
}
.ofertas, .marcas
{
    margin-top:40px
}
.iconos i{
    font-size:50px;
  background: -webkit-linear-gradient( #461C6D, #75B935);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;

}
.icono{
    margin:30px;
    text-align:center;
}
hr{
    width:500px;
    background-color:#461C6D;
    padding:0px;
    margin-top:0px;
}
 h1{
    color:#461C6D;
}
