<div class="image">
  <img
    src="https://cdn.pixabay.com/photo/2017/05/31/21/13/colored-pencils-2361653__340.jpg"
    class="d-block w-100"
    alt="..."
  />
  <div class="text">
    <h1 class="contacto">Productos</h1>
  </div>
</div>
<aside class="rounded">
  <input
    class="form-control"
    type="text"
    placeholder="Search"
    aria-label="Search"
  />
  <h6 class="tituloAside">Tipo de Productos</h6>
  <hr />
  <div class="infoAside">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Material escolar
      </label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Material de oficina
      </label>
    </div>
  </div>
  <br />
  <h6 class="tituloAside">Ofertas</h6>
  <hr />
  <div class="infoAside">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Oferta del dia
      </label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Oferta destacada
      </label>
    </div>
  </div>
  <br />
  <h6 class="tituloAside">Precio</h6>
  <hr />
  <div class="infoAside">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Por debajo de Bs 25
      </label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Bs 25 - Bs 50
      </label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Bs 50 - Bs 100
      </label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">
        Bs 100 - Bs 200
      </label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1"> Bs 200 o más </label>
    </div>
  </div>
</aside>
<section>
  <div class="card-deck">
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <img
        src="https://static.fnac-static.com/multimedia/Images/ES/NR/70/5a/0a/678512/1540-6.jpg"
        class="card-img-top"
        alt="..."
      />
      <h5 class="nombre">Producto</h5>
      <h5 class="precio">$ 00.00</h5>
      <div class="footpro">
        <button class="btn btnproducto btn-sm">
          Ver mas <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
