aside {
  width: 30%;
  padding-left: 15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 15px;
  margin-right:10px;
  margin-top: 10px;
  float: right;
  background-color: #EBEBEB;
}
section{
  width: 65%;
}
.tituloAside{
  margin-bottom: 3px;  
}
hr{
  margin-top: 0px; 
  margin-bottom: 4px; 
}
.infoAside{
  margin-left: 7px;
}
.image { 
    position: relative; 
    margin-bottom:30px;
} 
.contacto { 
    position: absolute; 
    top: 100px; 
    margin: 0px; 
    color:white;
    left:50px;
    font: italic bold 80px Georgia, Serif;
    text-shadow: -4px 3px 0 #75B935, -14px 7px 0 #0a0e27;
}
.card{
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nombre{
    color:black;
    text-align:center;
}
.precio{
    color:black;
    text-align:center;
    font-size:14px;
}
.footpro{
     text-align:center;
     
}
.btnproducto{
    background-color:#75B935;
    border-color:#75B935;
    text-align:center;
    width:100px;
    color:white;

}