<div class="container" id="container">
  <div class="form-container sign-in-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <img
          src="https://cdn.pixabay.com/photo/2018/08/10/12/03/school-tools-3596686_960_720.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="overlay-container">
    <form [formGroup]="form" (submit)="save($event)">
      <h4><i class="fas fa-user"></i>Iniciar Sesión</h4>
      <br /><br />
      <input
        type="text"
        formControlName="email"
        class="form-control"
        name="email"
        placeholder="Email"
        [class.is-valid]="emailFieldIsValid"
        [class.is-invalid]="emailFieldIsInvalid"
        id="email"
      />
      <div class="invalid-feedback" *ngIf="emailField.hasError('required')">
       El campo es obligatorio.
      </div>
      <div class="invalid-feedback" *ngIf="emailField.hasError('email')">
        El correo no es correcto.
      </div>
      <input
        type="password"
        name="password"
        formControlName="password"
        class="form-control"
        placeholder="Password"
        [class.is-valid]="passwordFieldIsValid"
        [class.is-invalid]="passwordFieldIsInvalid"
        id="password"
      />
      <div class="invalid-feedback" *ngIf="passwordField.hasError('required')">
        El campo es obligatorio
      </div>
      <div class="invalid-feedback"  *ngIf="passwordField.hasError('minlength')">
        La contrasenia debe ser de 8 caracteres
      </div>
    

      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="defaultUnchecked"
        />
        <label class="custom-control-label" for="defaultUnchecked"
          >Recuerdame</label
        >
      </div>
      <button type="submit" onclick="validacionusuario()">Acceder</button>
      <p>¿No tienes Cuenta?<a routerLink="/registro">Crear Cuenta</a></p>
    </form>
  </div>
</div>
