<div class="footer"> 
<div class="contenedor">
  <a href="https://whatsapp.com/">
  <button class="botonF1" href="https://whatsapp.com/">
    <span><i class="fab fa-whatsapp"></i></span>
  </button></a>
</div>
    <div class="row">
        <div class="col-sm-2">
          <div class="iconos">
           <a href="https://twitter.com/" target=" a_blank"> <i class="fab fa-twitter"></i>   </a> 
          </div>
        </div>
        <div class="col-sm-2">
          <div class="iconos">
            <a href="https://gmail.com/" target=" a_blank">  <i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="footerletras">
            <p class="">Avenida Litoral #910</p>
            <p class="">Cochabamba - Bolivia</p>
            <p class="">Copyright2020@LibreriaJL</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="iconos">
            <a href="https://facebook.com/" target=" a_blank">  <i class="fab fa-facebook-square"></i></a>    
           
          </div>
        </div>
        <div class="col-sm-2">
            <div class="iconos">
                <a href="https://instagram.com/" target=" a_blank"> <i class="fab fa-instagram"></i></a>
            </div>
          </div>
      </div>
</div>

 