.top {
  background-color: #461c6d;
}
.top i,
a {
  color: white;
}
label {
  padding-left: 1px;
  display: inline-block;
  color: 461c6d;
  position: relative;
  left: 0.1em;
}
#nombreJL {
  color: #666666;
}
#navegador a {
  color: #666666;
}
#navegador {
  padding: 0;
  font-size: 1.3em;
}
#navsection {
  margin: 10px auto;
  width: auto;
}
