
<nav class="navbar navbar-expand-lg top">
  <div class="mr-auto mt-2 mt-lg-0">
    <a routerLink="/about" class="navbar-brand" target=" a_blank"> <i class="fas fa-home"></i> Av.Litoral #910 </a> 
    <a href="https://gmail.com/" class="navbar-brand" target=" a_blank">  <i class="far fa-envelope"></i>  LibreriaJL@gmail.com </a>          
  </div>
  <div class=" my-2 my-lg-0">
    <a routerLink="/about" class="navbar-brand"> <i class="fas fa-shopping-cart"></i>Carrito</a>           
    <a routerLink="/login" class="navbar-brand"> <i class="far fa-user"></i> Login </a>         
  </div>
</nav>

<section class="py-3 bg-light border-bottom">
  <div class="container d-lg-flex align-items-lg-center" id="navsection">
    <div>
      <h1><i class="fas fa-pencil-alt"></i>LibreriaJL</h1>
    </div>
    <nav aria-label="breadcrumb" class="ml-lg-auto" id="navegador">     
      <ol class="breadcrumb p-0 mb-0 bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/" >Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/about" >Productos</a></li>
        <li class="breadcrumb-item "><a routerLink="/about" >Contacto</a></li>    
        <li class="breadcrumb-item "><a routerLink="/about" >Acerca de</a></li>      
        <li class="breadcrumb-item ">
          <form role="search" method="get" id="searchform" action="">
          <label for="s">
            <i class="fas fa-search"></i>
          </label>
           <input type="text" value="" placeholder=" search" class="" id="s">
        </form>
        </li>
      </ol>
    </nav>
  </div>
</section>
   
     
    
 