
.top{
    background-color:#461C6D
}
.top i, a{
    color:white;
}

label{
  padding-left: 1px;
  display:inline-block;
  color:461C6D;
  position: relative;
  left:0.1em;
}
#logo a{
    color:black;
}
#logo span,button{
    color:black;
}
#navegador a{
    color:black;
}
#navegador
{
     margin-top:20px;
     padding:0;
     font-size:15px;
}
#navsection{
    margin:10px;
}
section{
    margin-left: 70px;
}

