
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   
    <div class="modal-dialog modal-dialog-centered modal-lg">
      
      <div class="modal-content container">
       
        <div class="modal-body">
          
            <div class="images">
              <img src="https://d26lpennugtm8s.cloudfront.net/stores/891/147/products/0007086_marcadstabilo-pen-68-x101-3b135553dd591b069315513829058924-640-0.png" />
            </div>
            
            
            <div class="product">
              <p>LibreriaJL</p>
              <h1>Marcadores Stabilo</h1>
              <h2>$15</h2>
              <p class="desc">The Nike Epic React Flyknit foam cushioning is responsive yet light-weight, durable yet soft. This creates a sensation that not only enhances the feeling of moving forward, but makes running feel fun, too.</p>
              <div class="buttons">
                <button class="add"><i class="fas fa-shopping-cart"></i>Añadir al Carrito</button>
                
              </div>
            </div>
          </div> 
      </div>
    </div>
  </div>
