
.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(#461C6D, .5);
  border-radius: 10px;
}

p {
  font-size: 0.6em;
  color: black;
  letter-spacing: 1px;
}

h1 {
  font-size: 1.2em;
  color: #4E4E4E;
  margin-top: -5px;
}

h2 {
  color:#75B935;
  margin-top: -5px;
}

img {
  width: 290px;
  height:300px;
  margin: 0px;
  text-align:center;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4E4E4E;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background: darken(#461C6D, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
   border-radius: 100px;
     letter-spacing: 1.98px;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
  &:hover {
    background:#75B935;
    transition: all .4s ease-in-out;
  }
}

.add {
  width: 87%;
}


